.react-time-picker__wrapper {
    border: 0 !important;
}

.react-calendar__navigation button:disabled {
    @apply dark:bg-black cursor-pointer;
    cursor: not-allowed !important;
}

.react-calendar__tile--now {
    @apply bg-primary-400 !important;
}

.react-calendar__tile--active {
    @apply bg-primary-600 dark:text-white !important;
}

/* styles/global.css */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}