.react-time-picker__wrapper {
    border: 0 !important;
}

.react-calendar__navigation button:disabled {
    @apply dark:bg-black cursor-pointer;
    cursor: not-allowed !important;
}

.react-calendar__tile--now {
    @apply bg-primary-400 !important;
}

.react-calendar__tile--active {
    @apply bg-primary-600 dark:text-white !important;
}

/* styles/global.css */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.react-time-picker__inputGroup__amPm {
    background-color: #1f2937;
    /* dark gray */
    color: #fff;
    /* white text */
    border: 1px solid #4b5563;
    /* darker border */
}

.react-time-picker__inputGroup__amPm option {
    background-color: #1f2937;
    color: #fff;
}